
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: var(--redhat);
}

:root{
  --redhat: 'Red Hat Display', sans-serif;
  --base-color: #F9D923;
  --second-color: #EB5353;
  --dark: #393939;
}

.App{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

ul{
  list-style: none;
}

.container-item{
  width: 75%;
  min-height: 120px;
  padding: 10px 0px;
  margin-left: 2vw;
  position: relative;
  border-bottom: 1px solid rgb(198, 198, 198);

  a{
      text-decoration: none;
      color: black;
      display: flex;
      gap: 20px;
  }                

  img{
      position: relative;
      left: 0;
      right: 0;
      border-radius: 10px;
      background-color: var(--base-color);
      width: 110px;
  }

  h6{
      font-size: 25px;
      color: red;
  }

  h5{
      padding-top: 10px;
      font-size: 24px;
  }

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;

    &:hover{
      background-color: var(--second-color);
      border: 1px solid white;
    }
    &:focus{
      transform: scale(1.1);
    }
  }
}